$module:			'l';


.#{$module} {

	&-main {
		margin: 10px;
		border: 1px solid $colorText;
	}

	&-section {
		display: flex;
		height: calc(100vh - 20px);
	}

	&-half {
		flex: 1 0 50%;
		padding: em(75);
	}

	&-half:nth-of-type(odd) {
		border-left: 1px solid $colorText;
		// background-color: $colorText;
		// color: $colorSecondary;
	}
}